@model Currency

@{
    ViewData["Title"] = @Model.GetType().Name + " Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="h3 mb-0 text-gray-800"><b>CURRENCY: @Model.CurrencyUnit.ToUpper()</b></h1>
    </div>

    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-12 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@Html.DisplayNameFor(model => model.CurrencyUnit)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.DisplayFor(model => model.CurrencyUnit)</div>
                        </div>
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@Html.DisplayNameFor(model => model.CreatedDate)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.DisplayFor(model => model.CreatedDate)</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-10">
            <a asp-action="Index" class="btn btn-light btn-icon-split">
                <span class="icon text-gray-600">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Back to List</span>
            </a>
            <a asp-action="Edit" asp-route-id="@Model.CurrencyId" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text">Edit</span>
            </a>
        </div>
    </div>
</div>

