@model IEnumerable<Stocks>

@{
    ViewData["Title"] =  @Model.GetType().GetGenericArguments()[0].Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.GetType().GetGenericArguments()[0].Name List</h1>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Brands</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Store.StoreName)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Store.StoreName)
                        </th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Store.StoreName)
                        </th>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.StoreId" asp-route-productId="@item.ProductId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.StoreId" asp-route-productId="@item.ProductId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.StoreId" asp-route-productId="@item.ProductId">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}

@section CustomPageStyle
{
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
